# SerpApi Key for Google Flights (https://serpapi.com/)
SERPAPI_API_KEY=

# Resend API Key for Email (https://resend.com/)
RESEND_API_KEY=

# Cron Secret for securing fetch-deals endpoint
CRON_SECRET=secret
